<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag "gato.jpg", class:"gato" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pablo Igor Hess</h5>
        <p class="card-text">Diseño Web / Bootstrap / Ruby / Ruby on Rail / Postgres</p>
        <p class="card-text">Correo: pablo.igor.hess@gmail.com</p>
        <p class="card-text">Cel: +569 7634 5068</p>
        <p class="card-text">Osorno, Chile</p>
        <p class="card-text"><small class="text-body-secondary">Ultima actualización 08/06/2023</small></p>
      </div>
    </div>
  </div>
</div>