<h1 class="titulo-proyectos"> Mis proyectos web </h1>
<section class="cards-pro">
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
      <%= image_tag "iguana.PNG", class: "img-igu" %>
        <h5 class="card-title">Iguana page</h5>
        <p class="card-text">La página web de imágenes de iguanas es un tesoro visual que muestra la diversidad y la belleza de estas fascinantes criaturas. Desde iguanas verdes vibrantes hasta especies exóticas de colores sorprendentes, aquí encontrarás una colección de fotografías cautivadoras que celebran la vida y la majestuosidad de las iguanas en su hábitat natural." </p>
        <a href="#" class="btn btn-primary1">Visita Iguana page</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <%= image_tag "meetandcoffee.PNG", class: "meet-and" %>
        <h5 class="card-title">Meet and Coffee</h5>
        <p class="card-text">"La página web de la cafetería Meet and Coffe, el lugar perfecto para disfrutar de una deliciosa taza de café mientras participas en charlas apasionantes sobre programación. Aquí puedes conectarte con otros entusiastas de la tecnología, compartir ideas y aprender sobre los últimos avances en el mundo de la programación, todo en un ambiente acogedor y estimulante."</p>
        <a href="#" class="btn btn-primary2">Visita Meet & Coffee</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
      <%= image_tag "universozelda.PNG", class: "zelda" %>
        <h5 class="card-title">Universo Zelda</h5>
        <p class="card-text"> 
"Sumérgete en el mundo mágico de la saga Zelda con nuestra página web dedicada a los fans. Descubre noticias, curiosidades y contenido exclusivo sobre los juegos, personajes y leyendas de esta icónica serie. Únete a una comunidad apasionada de seguidores de Zelda y comparte tu amor por esta aventura épica."</p>
        <a href="#" class="btn btn-primary3">Visita Universo Zelda</a>
      </div>
    </div>
  </div>
</div>
</section>
